<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FroshIMS</title>
</head>
<body>

  <form action="/register" method="post">
    <input name="name" placeholder="Name" autocomplete="off" type="text">
    <select>
      <option disabled selected>Sport</option>
      <option value="Ultimate Frisbee">Ultimate Frisbee</option>
      <option value="Soccer">Soccer</option>
      <option value="Basketball">Basketball</option>
    </select>

    <button type="submit">Submit</button>
  </form>
  
</body>
</html>